  .container {
    display: flex;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%; 
    }
  }
  